<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>To-Do List</h1>

    <form method="post" action="/">
      <input type="hidden" name="name" value="Anonymous">
      
      <label for="task">Enter a task: </label>
      <input type="text" id="task" name="task" placeholder="Add a task...">
      
      <label for='due_date'>Due date: </label>
      <input type='date' id='due_date' name='due_date'>

      <button type="submit" name="action" value="add">Add</button>
      <button type="submit" name="action" value="finish">Finish</button>
    </form>

    <br>
    <br>
    <br>

    <ul id="todo-list">
      {% for todo in todos %}
      <li>{{ todo.task }}{% if todo.due_date %} (due {{ todo.due_date.strftime('%Y-%m-%d') }}){% endif %}</li>
      {% endfor %}
    </ul>

    <br>
    <br>
    <br>

    <a href="https://portal.asrjc.edu.sg/">Click here to visit ASR portal</a>

  </body>
</html>
